<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050254570915-og50tvk3q2dt5dkm6kj1r8ns8n4sl8gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050254570915-og50tvk3q2dt5dkm6kj1r8ns8n4sl8gl</string>
	<key>API_KEY</key>
	<string>AIzaSyC_g3Lg8qX-OYvDmDF9tfl52qogKcLTdp4</string>
	<key>GCM_SENDER_ID</key>
	<string>1050254570915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.yuta.yaegashi.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-22669</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-22669.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050254570915:ios:0941e06c42fcb0abd29616</string>
</dict>
</plist>